
/* Cores */

$header-footer-bg-color: #181818;
$background-body: #252728;
$primary-text-color: #EEF0F0;
$secondary-text-color: #6B2F37; 
$menu-text-color: #69696A;


/* Fontes */

$medium-font: 1.75em;
$small-font: 1.125em;
$big-font: 2.25em;
